@import './_vars';

.Header {
	margin: 2.5em 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&_Title {
		font-size: 1.9em;
		font-weight: 400;
		margin: 0 0 0.3em;
	}
	&_Description {
		margin: 0;
		font-size: 1em;
		color: $grey;
		padding-right: 2em;
	}
}

